Client/Connected Services/TeamServiceReference/PlayerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PlayerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PlayerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Team">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="T_BValue" type="xs:int" />
      <xs:element minOccurs="0" name="T_Captain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_HCoach" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T_Owner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Team" nillable="true" type="tns:Team" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>