Client/Connected Services/TeamServiceReference/TeamService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TeamService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7000/PlayerService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7000/PlayerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7000/PlayerService?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:7000/PlayerService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PlayerService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeamService_GetTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeam" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_AddTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTeam" />
  </wsdl:message>
  <wsdl:message name="ITeamService_AddTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTeamResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_DeleteTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeam" />
  </wsdl:message>
  <wsdl:message name="ITeamService_DeleteTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeamResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_UpdateTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeam" />
  </wsdl:message>
  <wsdl:message name="ITeamService_UpdateTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeamResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="ITeamService">
    <wsdl:operation name="GetTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/GetTeam" message="tns:ITeamService_GetTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/GetTeamResponse" message="tns:ITeamService_GetTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/AddTeam" message="tns:ITeamService_AddTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/AddTeamResponse" message="tns:ITeamService_AddTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/DeleteTeam" message="tns:ITeamService_DeleteTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/DeleteTeamResponse" message="tns:ITeamService_DeleteTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/UpdateTeam" message="tns:ITeamService_UpdateTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/UpdateTeamResponse" message="tns:ITeamService_UpdateTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/GetDataUsingDataContract" message="tns:ITeamService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/GetDataUsingDataContractResponse" message="tns:ITeamService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITeamService" type="tns:ITeamService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTeam">
      <soap:operation soapAction="http://tempuri.org/ITeamService/GetTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeam">
      <soap:operation soapAction="http://tempuri.org/ITeamService/AddTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTeam">
      <soap:operation soapAction="http://tempuri.org/ITeamService/DeleteTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTeam">
      <soap:operation soapAction="http://tempuri.org/ITeamService/UpdateTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ITeamService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeamService">
    <wsdl:port name="BasicHttpBinding_ITeamService" binding="tns:BasicHttpBinding_ITeamService">
      <soap:address location="http://localhost:7000/PlayerService/TeamService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>