Client/Connected Services/AuctionServiceReference/PlayerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PlayerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PlayerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Auction">
    <xs:sequence>
      <xs:element minOccurs="0" name="F_Player" type="xs:int" />
      <xs:element minOccurs="0" name="I_Player" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="S_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Season" type="xs:int" />
      <xs:element minOccurs="0" name="T_Player" type="xs:int" />
      <xs:element minOccurs="0" name="T_Team" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auction" nillable="true" type="tns:Auction" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>